/* copyright 2022 @Victor Loots*/

/* Reset */

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*Var*/

:root {
  --darkgreen: #008000;
  --lightgreen: #99ff99;
  --brokenwhite: #f8f7f3;
}
/*Adds*/

img {
  display: block;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 1.5em;
  font-variant: normal;
  font-weight: 400;
  background-color: var(--brokenwhite);
}
#container {
  margin: 0 auto;
  width: 1200px;
}
header {
  color: var(--lightgreen);
  background-color: var(--darkgreen);
}
nav {
  display: flex;
  padding: 25px;
  flex-wrap: wrap;
  justify-content: space-between;
}
nav ul li {
  list-style: none;
  display: inline-block;
}
nav ul li a {
  padding: 25px;
  text-align: center;
  text-decoration: none;
}
a:link,
a:visited {
  color: var(--lightgreen);
  background-color: var(--darkgreen);
  text-decoration: none;
  padding: 3px;
}
a:hover,
a:active {
  color: var(--darkgreen);
  background-color: var(--lightgreen);
}
.sectie_1,
header,
footer {
  margin: 0 60px 0 40px;
  padding: 25px;
  color: var(--lightgreen);
  background-color: var(--darkgreen);
}
h1 {
  padding: 20px;
  border-bottom: var(--lightgreen) 2px inset;
  text-align: center;
}
.sectie_1 h2 {
  margin: 30px 0 15px 0;
  padding: 50px;
  text-shadow: 5px 5px black;
}

p {
  line-height: 150%;
  padding: 50px;
}
.letter {
  float: left;
  width: 0.7em;
  font-size: 400%;
  line-height: 80%;
  margin-top: -45px;
  margin-right: -25px;
}
.held {
  border-radius: 15px;
  transform: translate(750px, -100px);
}

.sectie_2,
.sectie_3 {
  margin: 0 60px 0 40px;
  padding: 25px;
  color: var(--darkgreen);
  background-color: var(--lightgreen);
}
.sectie_2 h2 {
  text-align: center;
  padding: 50px;
}
#gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.preview {
  width: 250px;
  height: 200px;
  border: var(--darkgreen) solid 1px;
  display: inline-block;
  border-radius: 35px;
  text-align: center;
  padding: 15px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
/* .sectie_3 {
  display: flex;
  justify-content: center;
  align-items: center;
} */
blockquote {
  font-style: italic;
  color: #333;
  line-height: 150%;
  font-size: 1.2em;
  width: 75%;
  position: relative;
  margin: 100px auto;
  padding: 40px 80px;
  border-radius: 15px;
  background: var(--brokenwhite);
}

blockquote::before {
  content: open-quote;
  top: 5px;
  left: 5px;
}

blockquote::after {
  content: close-quote;
  bottom: 5px;
  right: 5px;
}
blockquote::before,
blockquote::after {
  background-color: var(--lightgreen);
  display: block;
  width: 60px;
  height: 60px;
  line-height: 150%;
  font-size: 2em;
  border-radius: 100%;
  text-align: center;
  position: absolute;
}
footer {
  text-align: right;
}
