/* copyright 2022 @Victor Loots*/

/* Reset */

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*Var*/

:root{
  --bgcolor: #003300
}
/*Adds*/

.float_right{
  float: right;
}
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}


body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 2em;
  font-variant: normal;
  font-weight: 400;
  background-color: #f8f7f3;
}
#container {
  margin: 0 auto;
  width: 1200px;
  color: #99ff99  ;
  background-color: var(--bgcolor);
}
nav {
  display: flex;
  padding: 25px;
  flex-wrap: wrap;
  justify-content: space-between;
}
nav ul li{
  list-style: none;
  display: inline-block;
}
nav ul li a{
  padding: 25px;
  text-align: center;
  text-decoration: none;

}
a:link,
a:visited {
  color: #99ff99;
  background-color:#003300;
  text-decoration: none;
  padding: 3px;

}
a:hover,
a:active {
  color: #003300;
  background-color:#99ff99;
}

.letter {
  float: left;
  width: 0.7em;
  font-size: 400%;
  line-height: 80%;
}